<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer name:</strong>
    <%= order.customer_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Progress:</strong>
    <%= order.progress %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Items:</strong>
    <%= order.items %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Subtotal:</strong>
    <%= order.subtotal %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tax:</strong>
    <%= order.tax %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= order.total %>
  </p>
</div>
