<div id="<%= dom_id item %>" class="w-full my-4 flex text-base cursor-pointer">
  <div class="flex w-full bg-bg-ternary hover:bg-bg-primary rounded-xl px-2 py-2 justify-between items-center relative">
    <div class="flex">
      <div class="item-index mr-2 rounded-full p-3 bg-bg-tertiary justify-center items-center relative text-bg-secondary h-0">
        <!--<span class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 text-sm"><%#= index %></span>-->
      </div>
      <p class="mr-2 text-xs text-text-primary justify-center">
        <%= item.product.name %><span class="text-gray-300 text-xs">(<%= item.product.size.downcase %>)</span>
        <span class="text-base text-gray-200">x<%= item.quantity %></span>
      </p>
    </div>
    <p class="right-2 text-xs text-text-tertiary"><%= currency %> <%= item.price %></p>
  </div>
</div>
