<% content_for :title, "Products" %>
<div class="w-full mx-4 justify-center">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%= turbo_frame_tag 'new_product' do %>
  <% end %>
  <%= turbo_frame_tag 'edit_product' do %>
  <% end %>
  <%= turbo_frame_tag "products" do%>
    <div class="flex justify-between items-center w-full  text-white py-9">
      <div class="justify-between w-8/12 flex items-center">
        <h1 class="font-bold text-2xl py-6 flex">
          <% if @category %>
            <%=  @category.name %>
          <% else %>
            Popular Items
          <% end %>
        </h1>
        <% if @category %>
          <%= render(ButtonComponent.new(
          text: 'Edit Category',
          classes: 'flex h-auto bg-bg-tertiary px-4 py-2 hover:bg-bg-secondary max-w-60 text-gray-900 hover:text-white',
          href: edit_category_path(@category),
          data: {turbo_frame: 'edit_category'}
          )) %>
        <% end %>
      </div>
      <div class="w-4/12 justify-center flex">
        <%= render(ButtonComponent.new(
      text: 'Add New Product',
      classes: 'bg-bg-tertiary px-4 py-2 hover:bg-bg-secondary max-w-60 text-gray-900 hover:text-white',
      href: new_product_path,
      data: { turbo_frame: 'new_product'}

      )
      ) %>
      </div>
    </div>
    <div id="products" class="min-w-full">
      <div id="products" class="min-w-full rounded">
        <div class="rounded-lg p-4 bg-[#565E60]" style="max-height: 600px;">
          <div class="rounded-lg overflow-x-auto pb-6 flex gap-4 h-full bg-gray-400 custom-bar">
            <% if @products.any? %>
              <table class="min-w-full rounded-lg overflow-hidden text-white items-center">
                <thead class="py-4">
                  <tr>
                    <th class="px-4 py-2"><input type="checkbox"></th>
                    <th class="px-4 py-2">Product</th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Item ID</th>
                    <th class="px-4 py-2">Stock</th>
                    <% unless @category.present? %>
                      <th class="px-4 py-2">Category</th>
                    <% end %>
                    <th class="px-4 py-2">Price</th>
                    <th class="px-4 py-2">Availability</th>
                    <th class="px-4 py-2">Edit</th>
                    <th class="px-4 py-2">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @products.each do |product| %>
                    <%= render product %>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <p class=" my-10 text-white w-full w-full text-center">No products found.</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
